<launch>
    <!--比赛核心 launch-->
    <!--该launch文件拉起 基础环境、movebase、FTG节点-->

    <!-- 基础环境 -->
    <include file="$(find f1)/launch/include/base.launch" />

    <!-- move_base -->
    <include file="$(find f1)/launch/include/move_base.launch" />

    <!-- 导航管理节点 -->
    <include file="$(find f1)/launch/include/nav_manager.launch" />

    <!-- FTG 节点 -->
    <include file="$(find f1)/launch/include/ftg.launch" /> 

</launch>