<launch>
    <!-- 配置地图文件 -->
    <arg name="world" default="singapore" />
    <!-- 配置命名空间，默认为 "tianracer" -->
    <arg name="namespace" default="tianracer" />

    <!-- 地图服务器节点，加载地图 -->
    <node name="map_server" pkg="map_server" type="map_server" ns="$(arg namespace)" args="$(find tianracer_gazebo)/maps/$(arg world).yaml" >
        <!-- 设置地图的参考坐标系为 "map" -->
        <param name="frame_id" value="map" />
    </node>

    <!-- 启动 Gazebo 仿真环境 -->
    <include file="$(find tianracer_gazebo)/launch/tianracer_on_racetrack.launch">
        <!-- 指定地图文件 -->
        <arg name="world" value="$(arg world)" />
        <!-- 指定机器人名称为命名空间 -->
        <arg name="robot_name" value="$(arg namespace)" />
    </include>

    <!-- 启动 Tianracer 控制节点 -->
    <include file="$(find tianracer_gazebo)/launch/tianracer_control.launch" >
        <!-- 指定机器人名称为命名空间 -->
        <arg name="robot_name" value="$(arg namespace)" />
    </include>


    <!-- 启动 AMCL 定位节点 -->
    <include file="$(find tianracer_gazebo)/launch/includes/amcl.launch.xml" >
        <!-- 指定机器人名称为命名空间 -->
        <arg name="robot_name" value="$(arg namespace)" />
    </include>


</launch>